/*整体部分布局*/
.my_container>.Banner_One,.my_container>.Banner_Two{
  position: relative;
  margin-bottom: 2rem;
}
/*banner第一部分*/
/*轮播图片大小*/
.my_container>.Banner_One>#Idx_swiper>div img{
  width:100%;
}
/*轮播指示符调整*/
.carousel-indicators li{
  width:15px;
  height:15px;
  border-radius: 50%;
  cursor: pointer;
  margin: 0 0.8rem;
}
.carousel-indicators li:hover{
  background-color: #fff;
}
.carousel-control-prev,.carousel-control-next{
  width: 10%;
}
.my_container>.Banner_One>div:last-child svg{
  width:70%;
  height:70%;
}

/*轮播图上的了解更多*/

/*js中的class样式*/
.more1{
  background: #E2001A;
  animation: swiper-more1 0.3s linear 0.02s 1 normal forwards;
}
.more2{
  background: #dd2d00;
  animation: swiper-more2 0.3s linear 0.02s 1 normal forwards;
}
.swiper-Title a{
  text-decoration: none;
  width:20%;
  color:#fff;
  position: absolute;
  z-index: 5;
  top:80%;
  padding:0.2rem 1rem;
  transition: all 0.5s linear;
}
.swiper-Title a:hover{
  color:#E2001A;
  background: #fff;
}
/*了解更多的动画*/
@keyframes swiper-more1{
  0%{
    left:100%;
  }
  50%{
    left:50%;
  }
  100%{
    left:15%;
  }
}
@keyframes swiper-more2{
  0%{
    right:100%;
  }
  50%{
    right:50%;
  }
  100%{
    right:15%;
  }
}

/*banner第二部分*/
.my_container>.Banner_Two>ul{
  list-style: none;
  padding:0;
  display: flex;
  /*换行*/
  flex-wrap:wrap;
  justify-content: space-between;
}
.my_container>.Banner_Two>ul>li{
  display: inline-block;
  background: #fff;
  /* 媒体选择中写宽 */
  /* width:0; */
  margin-top: 2rem;
  border-bottom: 2px solid transparent;
}
.my_container>.Banner_Two>ul>li:hover{
  border-bottom: 2px solid #E2001A;
}
.my_container>.Banner_Two>ul>li a{
  text-decoration: none;
}
.my_container>.Banner_Two>ul>li img{
  width:100%;
}
.my_container>.Banner_Two>ul>li div{
  margin-top: 0.5rem;
  padding:0.5rem;
}
.my_container>.Banner_Two>ul>li h3{
  font-size: 1rem;
  font-weight: 600;
  color: #000;
}
.my_container>.Banner_Two>ul>li:hover h3{
  color: #E2001A;
}
.my_container>.Banner_Two>ul>li p{
  font-size: 0.8rem;
}




/*媒体选择下的显示样式*/
@media screen and (min-width:790px){
  .my_container>.Banner_Two>ul>li{
    width:31.5%;
  }
}
@media screen and (max-width:790px){
  .my_container>.Banner_Two>ul>li{
    width:45%;
  }
  .swiper-Title a{
    font-size: 0.8rem;
  }
}
@media screen and (max-width:480px){
  .my_container>.Banner_Two>ul>li p{
    display: none;
  }
  .swiper-Title a{
    display:none;
  }
}




